ul li.red {
    border: 2px solid #FF0000;
	background-color: #FFD9D9;
    list-style-type: none;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 10px;
	}
	ul li.no-error {
    border: 2px solid #000;
	background-color: #fff;
    list-style-type: none;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 10px;
	}
	.post-img {
		object-fit: cover;
		object-position: 25% 20%;
	}
	.fix-error-box{
		border: 2px solid #75AA03;
		background-color: #F1FFEA;
		padding: 20px;
		border-radius: 5px;
	}
	p.copy-icon {
    position: absolute;
    top: 24px;
    right: 10px;
		cursor: pointer;
}
	ul li.red:focus {
    background-color: #fff;
}
	.btn.btn-green {
    background-color: #75AA03;
    border: 0;
}
	.btn.btn-red {
    background-color: #DF0000;
    border: 0;
}
	ul{
		padding-left: 0;
	}
	select.red-bg {
    background-color: #F44242;
    color: #fff;
    padding: 10px;
}
	button.search-btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
}
	input.form-border {
    border: 1px solid #000;
    border-radius: 0;
}
	select option.bg-change {
    background-color: #fff;
    color: #000;
    border-radius: 0;
}
	select option{
		border-radius: 0;
	}
	.form-control:focus{
		border:1px solid #000;
		box-shadow: none;
	}
	.btn.light-grren{
		background-color: #F1FFEA;
		color: #75AA03;
		border: 1px solid #75AA03
	}
	.error-word{
		color: #FF0000;
		font-weight: bold;
	}
	.search-btn:hover img {
    filter: brightness(0) invert(1);
}
	.search-btn:hover {
		background-color: #F44242;
	}
input.form-border {
    border: 1px solid #000;
	border-radius: 0;
	border-right: 0;
	}
	label.form-border {
    border: 1px solid #000;
	border-radius: 0;
	width: auto;
	background-color: #F44242;
		color: #fff;
		border-right: 0;
	}
	.right-icon {
    position: absolute;
    top: 0;
    width: 40px;
    right: 0;
}
	.purple-color{
		color: #A55EFF;
	}
	.form-control.box-border {
    border-radius: 0;
    border-color: #000;
}
	button.btn.black-btn {
    background-color: #000;
    width: 100%;
}
	button.btn.black-btn:hover {
    background-color: #303030;
}
ul li.red {
    border: 2px solid #FF0000;
	background-color: #FFD9D9;
    list-style-type: none;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 10px;
	}
	ul li.no-error {
    border: 2px solid #000;
	background-color: #fff;
    list-style-type: none;
    margin: 10px 0 20px 0;
    padding: 10px;
    border-radius: 10px;
	}
	.post-img {
		object-fit: cover;
		object-position: 25% 20%;
	}
	.fix-error-box{
		border: 2px solid #75AA03;
		background-color: #F1FFEA;
		padding: 20px;
		border-radius: 5px;
	}
	p.copy-icon {
    position: absolute;
    top: 24px;
    right: 10px;
		cursor: pointer;
}
	ul li.red:focus {
    background-color: #fff;
}
	.btn.btn-green {
    background-color: #75AA03;
    border: 0;
}
	.btn.btn-red {
    background-color: #DF0000;
    border: 0;
}
	ul{
		padding-left: 0;
	}
	select.red-bg {
    background-color: #F44242;
    color: #fff;
    padding: 10px;
}
	button.search-btn {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0;
}
	input.form-border {
    border: 1px solid #000;
    border-radius: 0;
}
	select option.bg-change {
    background-color: #fff;
    color: #000;
    border-radius: 0;
}
	select option{
		border-radius: 0;
	}
	.form-control:focus{
		border:1px solid #000;
		box-shadow: none;
	}
	.btn.light-grren{
		background-color: #F1FFEA;
		color: #75AA03;
		border: 1px solid #75AA03
	}
	.error-word{
		color: #FF0000;
		font-weight: bold;
	}
	.search-btn:hover img {
    filter: brightness(0) invert(1);
}
	.search-btn:hover {
		background-color: #F44242;
	}
input.form-border {
    border: 1px solid #000;
	border-radius: 0;
	border-right: 0;
	}
	label.form-border {
    border: 1px solid #000;
	border-radius: 0;
	width: auto;
	background-color: #F44242;
		color: #fff;
		border-right: 0;
	}
	.right-icon {
    position: absolute;
    top: 0;
    width: 40px;
    right: 0;
}
	.purple-color{
		color: #A55EFF;
	}
	.form-control.box-border {
    border-radius: 0;
    border-color: #000;
}
	button.btn.black-btn {
    background-color: #000;
    width: 100%;
}
	button.btn.black-btn:hover {
    background-color: #303030;
}
#resultCount {
    font-size: 0.9rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: rgba(156, 151, 151, 0.569); /* You can change the color to your preference */
    margin-top: 10px; /* Adjust the margin-top as needed */
}